#root {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-gap: 1rem;
}

.header {
  grid-area: header;
  height: 20px;
}

.body {
  grid-area: body;
  display: grid;
  grid-template-areas: "menu content";
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.login-form {
  margin: auto;
  max-width: 250px;
  height: 250px;
  text-align: center;
}
.login-form-button {
  width: 100%;
}
.login-social {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.text-error {
  color: red;
}
.sign-up-link {
  margin-top: 10px;
  width: 100%;
}
